<a id="logo" href="{{ .Site.BaseURL }}">
  <a href="https://github.com/DetectionLab/DetectionLab"><img src="https://github.com/DetectionLab/DetectionLab/raw/master/img/DetectionLab.png"></a>

  <!--<a href="https://github.com/DetectionLab/DetectionLab/commit/master"><img src="https://camo.githubusercontent.com/a167737b7cdcc29db5d8147ae5d026ee1e795f02/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f6c6173742d636f6d6d69742f636c6f6e672f446574656374696f6e4c61622e7376673f7374796c653d666c61742d737175617265"></a>-->
  <!--<div style="height:34px">
    <iframe src="https://github.com/sponsors/DetectionLab/button" title="Sponsor DetectionLab" height="35" width="116" style="border: 0;"></iframe>
  </div>-->
</a>

